@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

body {
    background-image: url("./bg.jpg");
    object-fit: scale-down;
    background-size: 100%;
}

header {
    padding: 20px;
    color: white;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    background: rgba(36, 64, 188, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.main-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#second-main-div {
    height: 55vh;
    width: 65vw;
    display: none;
    flex-direction: column;
    background: rgba(36, 64, 188, 0.303);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    /* justify-content: start;
    align-items: start;
    flex-wrap: wrap; */


}

#first-main-div {
    height: 55vh;
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(84, 102, 181, 0.443);
    box-shadow: 0 8px 32px 0 rgba(168, 172, 221, 0.37);
    backdrop-filter: blur(70px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: absolute;
    z-index: 10;
    transition: 200ms ease-in-out;
}

#third-main-div {
    height: 55vh;
    width: 65vw;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(84, 102, 181, 0.443);
    box-shadow: 0 8px 32px 0 rgba(168, 172, 221, 0.37);
    backdrop-filter: blur(70px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: absolute;
    z-index: - 10;
    transition: 200ms ease-in-out;
}


img {
    height: 22vh;
    width: 10vw;

}

h1 {
    font-size: 40px;
}

p {
    font-size: 1.2vw;
    text-align: center;
    padding: 20px;
    color: wheat;
}

.start-btn {
    background-color: rgba(82, 44, 169, 0.748);
    color: white;
    height: 6vh;
    width: 15vw;
    border-radius: 12px;
    /* margin-left: 24vw;
    margin-top: 1.5vh;*/
    margin-bottom: 4vh;
    font-size: 18px;
}

h2 {
    color: white;
    font-size: 2.8vh;
    padding: 17px 17px 8px 17px;
}

#heading-3 {
    color: white;
    font-size: 3.9vh;
    padding: 17px 17px 8px 17px;
}

h4 {
    font-size: 3.8vh;
    padding: 17px 17px 8px 17px;
}

.total-Question {
    color: white;
}

li {
    list-style: none;
    padding-left: 8px;
    border: 0.5px solid white;
    border-radius: 80px;
    margin-top: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}

label {
    color: white;
    font-size: 2vh;
    padding: 10px;
}

.button {
    background-color: rgba(82, 44, 169, 0.748);
    color: white;
    height: 6vh;
    width: 15vw;
    border-radius: 12px;
    margin-left: 24vw;
    margin-top: 1.5vh;
    margin-bottom: 1svh;
    font-size: 18px;

}

.second {
    display: inline-flex;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
}